@use "../mixins/responsive";

.module-container {
  padding: 0 4%;
  position: relative;

  @include responsive.respond-as-of(2) {
    padding: 0 8%;
  }

  @include responsive.respond-as-of(3) {
    padding: 0 10%;
  }

  @include responsive.respond-as-of(4) {
    padding: 0 12%;
  }

  @include responsive.respond-as-of(5) {
    padding: 0 18%;
  }
}

.module-container--fluid {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}
