// Syntax: @include grid(repeat(4, 1fr), 5px, auto, 5px);
@mixin grid($columns: "", $col-gap: "", $row: "", $row-gap: "") {
  @if $col-gap != ""  {
    column-gap: $col-gap;
  }

  display: grid;

  @if $columns != "" {
    grid-template-columns: $columns;
  }

  @if $row != ""  {
    grid-template-rows: $row;
  }
  @if $row-gap != "" {
    row-gap: $row-gap;
  }
}

// Syntax: @include grid-span(column, 12);
@mixin grid-span($direction, $span) {
  #{"grid-"}#{$direction}: span $span;
}

// Syntax: @include grid-column(1, 13);
@mixin grid-column($start, $end) {
  grid-column: #{$start} / #{$end};
}

// Syntax: @include grid-row(2, 2);
@mixin grid-row($start, $end) {
  grid-row: #{$start} / #{$end};
}
