@use "./_responsive";

@mixin module-container($fluid: null) {
  @if $fluid == "fluid" {
    width: 100%;
  } @else {
    @include _responsive.respond-as-of(1) {
      width: 90%;
    }
    @include _responsive.respond-as-of(2) {
      width: 80%;
    }

    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 100%;
  }
}

@mixin module-margin-top() {
  @include _responsive.respond-as-of(2) {
    margin-top: 40px;
  }

  margin-top: 20px;
}

@mixin module-margin-top-bottom() {
  @include _responsive.respond-as-of(2) {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  margin-bottom: 20px;
  margin-top: 20px;
}
