:root {
  --grey-050: hsl(0, 0%, 50%);
  --grey-070: hsl(0, 0%, 70%);
  --grey-080: hsl(0, 0%, 80%);
  --grey-090: hsl(0, 0%, 90%);
  --black-100: hsl(0, 0%, 0%);
  --black-100-08: hsla(0, 0%, 0%, 0.8);
}
