$emoji-heart: "❤️";
$emoji-headphone: "🎧";
$emoji-house: "🏠";
$emoji-memo: "📝";
$emoji-recipes: "🍜";
$emoji-music-note: "🎵";
$emoji-tissue: "🧻";
$emoji-toolbox: "🧰";
$emoji-fried-egg: "🍳";
$emoji-hammer-wrench: "🛠️";
$emoji-bathtub: "🛁";
