$icon-arrow-up: "\25B2";
$icon-plus: "\E108";
$icon-normal-subgroup: "\22B2";
$icon-down: "\E03e";
$icon-tilemenu: "\E12a";

// AudioSampleBox Player icons
$icon-play: "\E106";
$icon-pause: "\E09d";
$icon-stop: "\E123";
$icon-sync: "\E125";
